h1, h2, h3, p, hr {
  margin: 0;
}
button, hr {
  border: 0 none;
}
button, select {
  outline: none;
  cursor: pointer;
  background: none;
}
a {
  text-decoration: none;
  font-weight: 400;
}
img, iframe {
  max-width: 100%;
  max-height: 100%;
}
img {
  /* fix image floating */
  vertical-align: bottom;
  width: auto;
  height: auto;
}
